body{
    background-color: #f3f2f2;
}

.home{
    height: 100vh;
    background: linear-gradient(rgba(15, 15, 15, 0.438), 
    rgba(0, 0, 0, 0.192)),
    url('../imgs/background.jpg');
    background-size: cover;
    ;
}

.home2{
    height: 100vh;
    background:  url('../imgs/4028953.jpg'); 
    background-size: cover;
    
}
.project_page{
    height: 100vh;
    background:  url('../imgs/wood_bg.jpg'); 
    background-size: cover;
    
}

.contact_page{
    height: 100vh;
    background:  url('../imgs/contact_bg.jpg'); 
    background-size: cover;
    
}
.intro{
    color: whitesmoke;
    padding:10% 22% ;
    text-align:justify;
    font-size:20px;
    font-weight:400px;
}

.name{
    font-size:50px;
}